@font-face {
    font-family: "Open Sans Regular";
    src: url("../assets/Typos/OpenSans-Regular.ttf");
   }

#wrapper-chatpage{
    font-family: "Open Sans Regular";
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 90%;
    min-width: 700px;
}

#wrapper-userside{
    background-color: #83a6cb;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#wrapper-profil{
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 10px 0;
}

#profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

#circle-profil{
    border: 3px solid #83a6cb;
    border-radius: 50%;
    min-width: 70px;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: white;
    background-image: url('../assets/Kwick-logo-48.png');
    background-repeat: no-repeat;
    background-position: center;

}

#username-profil{
    color: #47688a;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
}

#wrapper-listusers{
    width: 100%;
    flex-grow: 2;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px 0 0 0;
    background-color: #431b36; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(67, 27, 54), #753955eb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(67, 27, 54), #753955eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#wrapper-chatside{
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 10px 10px 0 0;
    background-color: rgba(71,104,138,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}