#wrapper-chat{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper-list-message{
    height: 100%;
    overflow: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#wrapper-send-text-area{
    min-height: 12%;
    margin: 10px;
}

#send-text-area{
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 0;
    height: 100%;
    padding: 6px 10px;
    width: 90%;
    resize: none;
}

#send-input{
    display: inline-block;
    height: 100%;
    width: calc(10% - 10px);
    margin-left: 10px;
    background-color: rgba(66,2,27,0.76);
    background-image: url("../assets/avion-papier-send.png");
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}


.wrapper-messages{
    margin-bottom: 15px;
    width: fit-content;
    max-width: 75%;
}

.own-messages{
    align-self: flex-end;
}

.author-message{
    margin-left: 10px;
    font-weight: 600;
    color: white;

}

.other-messages .content-message{
    background-color: #83a6cb;
    margin: 0;
    border-radius: 10px 10px 10px 0;
    padding: 6px 10px;
    overflow-wrap: break-word;
    margin-left: 8px;
}

.other-messages .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 15px;
    border-color: transparent transparent #83a6cb transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}

.own-messages .content-message{
    background-color: rgba(66,2,27,0.76);
    margin: 0 18px 0 0;
    color: white;
    border-radius: 10px 10px 0 10px;
    padding: 6px 10px;
    overflow-wrap: break-word;
}

.content-message{
    min-height: 36px;
}

.own-messages .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0  15px;
    border-color: transparent transparent transparent rgba(66,2,27,0.76) ;
    position: absolute;
    right: 10px;
    bottom: 0;
}

.date-message{
    font-size: 0.8rem;
    margin-right: 10px;
    text-align: right;
    font-style: italic;
    color: white;
}