#root{
    min-height: 100%;
}

#wrapper-tittle{
    text-align: center;
    font-size: 1.10rem;
    padding: 10px 5px;
}

#wrapper-list-users{
    overflow: auto;
    height: 550px;
}

.wrapper-user{
    min-height: 70px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.10);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.profil-user{
    border: 1px solid rgba(0,0,0,0.40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.infos-user{
    padding: 0 10px;
}