#root{
    height: 100%;
}

#wrapper-tittle{
    text-align: center;
    font-size: 1.10rem;
    padding: 10px 5px;
}

#list-users{
    overflow: auto;
    height: 550px;
    margin-right: 10px;
}

.wrapper-user{
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.profil-user{
    padding-right: 4px;
    font-family: "Lobster Regular";
    border: 3px solid rgba(255,255,255,0.40);
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #83a6cb, #47688a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #83a6cb, #47688a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.infos-user{
    padding: 0 10px;
}