@font-face {
    font-family: "Lobster Regular";
    src: url("../assets/Typos/Lobster-Regular.ttf");
   }

#mainNavbar{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
}

#mainNavbar .linkP{
    color: rgba(93,139,187,0.76);
    font-size: 1.10rem;
    cursor: pointer;
}
#mainNavbar .navbar-brand{
    font-family: "Lobster Regular";
    font-size: 25px;
}

#mainNavbar .linkP:hover{
    color: rgba(71,104,138,1);
    font-size: 1.10rem;
}

.list-link li{
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-link{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.selectedLinkP{
    color: red;
}